[program:privacyidea]
command={{ py_bin_dir }}/gunicorn --bind {{ pi_listen }}:{{ pi_port }} --workers 4 --log-file - --pythonpath .  wsgi:app
process_name=privacyidea
user={{ user }}
priority=2
redirect_stderr=true    
directory={{ path }}
stdout_logfile={{ log_dir }}/privacyidea_out.log
